__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
node_modules/
.next/
.env
.env.production
.env.local
frontend/.env.local
frontend/.next/
backend/.pytest_cache/
alembic/versions/__pycache__/
.DS_Store
